@using Participation_ASP.Models
@model IAccount

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hulpvragen</h2>
@if (Model is Volunteer)
{
    {
        ViewModel viewModel = new ViewModel();
        foreach (Request r in viewModel.RequestList)
        {
            {
                Session["request" + @r.RequestId.ToString()] = r;
            }
            <h3>@r.Patient.Name</h3>
            <p>@r.Description</p>
            @Html.ActionLink("Meer Informatie", @r.RequestId.ToString(), "Request/RequestInfo")
            <p>_______________________________________________</p>
        }
    }
}
@if (Model is Patient)
{
    Patient patient = Model as Patient;
    using (Html.BeginForm("AddRequest", "Request"))
    {
        <p>Beschrijving</p>
        <input type="text" name="description" class="form-control" id="inputDefault"/>
        <br/>
        <p>Locatie</p>
        <input type="text" name="location" class="form-control" id="inputDefault"/>
        <br />
        <p>Datum</p>
        <input type="date" id="date" name="date" class="input-xlarge" class="form-control" id="inputDefault">
        <br />
        <p>Urgentie</p>
        <input type="number" min="0" max="5" name="urgence"  class="form-control" id="inputDefault" value="0"/>
        <br />
        <p>Aantal vrijwilligers</p>
        <input type="number" min="1" name="amountOfVolunteers" class="form-control" id="inputDefault" value="1"/>
        ViewModel viewModel = new ViewModel();
        <br />
        <p>Vaardigheden</p>
        <select id="skill" class="form-control" size="1" name="skill">
            @foreach (Skill skill in viewModel.SkillList)
            {
                <option value="@skill.Id">@skill.Description</option>
            }
        </select>
        <br />
        <input type="submit" class="btn btn-success"/>
    }
}


