@using Participation_ASP.Models
@model Participation_ASP.Models.Request
@{
    ViewBag.Title = "RequestInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
<h2>@Model.Patient.Name</h2>
<p>@Model.Description</p>
<p>Datum: @Model.StartDate.Day-@Model.StartDate.Month-@Model.StartDate.Year</p>
<p>Locatie: @Model.Location</p>
<p>Aantal Vrijwilliger gevraagd: @Model.AmountOfVolunteers</p>
<br/>
</div>
<div class="well well-sm">
    Reacties
</div>
<table class="table table-striped table-hover ">
    <colgroup>
        <col span="1" style="width: 0%;">
        <col span="2" style="width: 100%;">
    </colgroup>
    <tbody>
    @foreach (Response response in Model.Responses)
    {
        <tr width="400">
            <td>@response.Volunteer.Name</td>
            <td class="active">@response.Description</td>
        </tr>
    }
    </tbody>
</table>
    

@using (Html.BeginForm("RespondToRequest", "Request"))
{
    if (Session["NoTextResponse"].ToString() != string.Empty)
    {
        <input type="text" id="Response" name="ResponseText" class="form-control" id="inputDefault"/>
        <br/>
    }
    else
    {
        <input type="text" id="Response" name="ResponseText" class="form-control" id="inputError" />
        <br />
    }
    <input type="submit" value="Reactie plaatsen" class="btn btn-succes"/>
}