@using Participation_ASP.Models
@model Participation_ASP.Models.IAccount
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<p>Gebruikersnaam: @Model.Username</p>
<p>Email: @Model.Email</p>
<p>Adres: @Model.Address</p>
<p></p>
@if (Model is Volunteer)
{
    {
         Volunteer volunteer = Model as Volunteer;
         <p>Beschikbaarheid:</p>
        <ul>
            @foreach (Availability a in volunteer.Availabilities)
            {
                <li>@a.Day: @a.TimeOfDay</li>
            }
        </ul>
        <p>Vaardigheden:</p>
        <ul>
            @foreach (Skill s in volunteer.Skills)
            {
                <li>@s.Description</li>
            }
        </ul>
        @using (Html.BeginForm("AddSkill", "Profile", FormMethod.Post))
        {
            <input="text" name="skill" id="skill"/>
            <!--
            <input type="password" name="Password" />
            You can use HTML inputs, but it's more reliable to use strongly-typed MVC helpers.
            -->
            <input type="submit" value="AddSkill" />
        }
    }

}


