@using Participation_ASP.Models
@model Patient

@{
    ViewBag.Title = "AdminProfilePatient";
}

<h2>Profiel Beheer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <h5>Account informatie:</h5>
            <ul>
                <li>@Html.Label("Gebruikersnaam: " + Model.Username)</li>
                <li>@Html.Encode("Email adres: " + Model.Email)</li>
                <li>@Html.Label("Naam: " + Model.Name)</li>
                <li>@Html.Label("Telefoonnummer: " + Model.Phone)</li>

                @if (Model.DateCancellation != new DateTime())
                {
                    <li>@Html.Label("Annuleringsdatum: " + Model.DateCancellation))</li>
                }
                else
                {
                    <li>@Html.Label("Annuleringsdatum: Actief")</li>
                }

                <li>@Html.Label("Location: " + Model.Location)</li>

                @if (Model.HasDriversLicense)
                {
                    <li>@Html.Label("Rijbewijs: Ja")</li>
                }
                else
                {
                    <li>@Html.Label("Rijbewijs: Nee")</li>
                }

                <li>@Html.Label("RFID: " + Model.Rfid)</li>

                @if (Model.Enabled)
                {
                    <li>@Html.Label("Enabled: Ja")</li>
                }
                else
                {
                    <li>@Html.Label("Enabled: Nee")</li>
                }

                @if (Model.IsAdmin)
                {
                    <li>@Html.Label("Admin: Ja")</li>
                }
                else
                {
                    <li>@Html.Label("Admin: Nee")</li>
                }
            </ul>

            @Html.ActionLink("Enable/Disable Account", "AdminDeleteProfile", new { Id = Model.AccountId })
            <br>
            @Html.ActionLink("Toggle Administrator", "AlterAdmin", new { Id = Model.AccountId })
            <br>

            <h5>Hulpbehoevende informatie:</h5>

                <ul>
                    @if (Model.Ov)
                    {
                        <li>@Html.Label("Openbaar vervoersbewijs: Ja")</li>
                    }
                    else
                    {
                        <li>@Html.Label("Openbaar vervoersbewijs: Nee")</li>
                    }
                </ul>

            @Html.ActionLink("Bekijk Hulpvragen", "AdminProfileRequest", new { Id = Model.AccountId })
        </div>
    </div>
}

