@using Participation_ASP.Models
@model Patient

@{
    ViewBag.Title = "AdminProfilePatient";
}

<h2>Profiel Beheer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <h5>Account informatie:</h5>
            <ul>
                <li>@Html.Label("Gebruikersnaam: " + Model.Username)</li>
                <li>@Html.Encode("Email adres: " + Model.Email)</li>
                <li>@Html.Label("Naam: " + Model.Name)</li>
                <li>@Html.Label("Telefoonnummer: " + Model.Phone)</li>

                @if (Model.DateCancellation != new DateTime())
                {
                    <li>@Html.Label("Annuleringsdatum: " + Model.DateCancellation))</li>
                }
                else
                {
                    <li>@Html.Label("Cancellation date: Active")</li>
                }

                <li>@Html.Label("Location: " + Model.Location)</li>
                <li>@Html.Label("Rijbewijs: " + Model.HasDriversLicense)</li>
                <li>@Html.Label("RFID: " + Model.Rfid)</li>
                <li>@Html.Label("Enabled: " + Model.Enabled)</li>
                <li>@Html.Label("IsAdmin: " + Model.IsAdmin)</li>
            </ul>

            @Html.ActionLink("Verwijder account", "AdminDeleteProfile", new { Id = Model.AccountId })
            <br>
            @Html.ActionLink("Toggle Administrator", "AlterAdmin", new { Id = Model.AccountId })
            <br>

            <h5>Hulpbehoevende informatie:</h5>
                <ul>
                    <li>@Html.Label("Openbaar vervoersbewijs: " + Model.Ov)</li>
                </ul>

            @Html.ActionLink("Bekijk Hulpvragen", "AdminRequest", new { Id = Model.AccountId })
        </div>
    </div>
}

