@using Participation_ASP.Models
@model ViewModel

@{
    ViewBag.Title = "AdminProfileReview";
}

<h2>Beheer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <h5>Reviews:</h5>
                @if (Model.VolunteerReviewList.Count != 0)
                {
                    foreach (Review i in Model.VolunteerReviewList)
                    {
                        <ul>
                            <li>@Html.Label("Reviewer: " + i.Request.Patient.Name)</li>
                            <li>@Html.Label("Aantal punten: " + i.Rating)</li>
                            <li>@Html.Label("Beschrijving: " + i.Comment)</li>
                        </ul>
                    }
                }
                else
                {
                    @Html.Label("Deze vrijwilliger heeft (nog) geen reviews.")
                }
        </div>
    </div>
}
