@using Participation_ASP.Models
@model Volunteer

@{
    ViewBag.Title = "AdminProfileVolunteer";
}

<h2>Profiel Beheer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <h5>Account informatie:</h5>
            <div class="col-md-6">
                @Html.Label("Gebruikersnaam: " + Model.Username)
                <br>
                @Html.Label("Email adres: " + Model.Email)
                <br>
                @Html.Label("Naam: " + Model.Name)
                <br>
                @Html.Label("Telefoonnummer: " + Model.Name)
                <br>
                @if (Model.DateCancellation != new DateTime())
                {
                    @Html.Label("Annuleringsdatum: " + Model.DateCancellation.ToString())
                }
                else
                {
                    @Html.Label("Cancellation date: Active")
                }
                <br>
                @Html.Label("Location: " + Model.Location)
                <br>
                @Html.Label("Rijbewijs: " + Model.HasDriversLicense.ToString())
                <br>
                @Html.Label("RFID: " + Model.Rfid)
                <br>
                @Html.Label("Enabled: " + Model.Enabled.ToString())
                <br>
                @Html.Label("IsAdmin: " + Model.IsAdmin.ToString())
                <br>
            </div>
                
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Verwijder account", "AdminDeleteProfile", new { Id = Model.AccountId })
            </div>


            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Toggle Administrator", "AlterAdmin", new { Id = Model.AccountId })
            </div>

            <div class="col-md-10">
                <h5>Vrijwilliger informatie:</h5>
                <div class="col-md-10">
                    @Html.Label("Geboortedatum: " + Model.BirthDate.ToString())
                    @Html.Label("Geboortedatum: " + Model.Vog)
                    @Html.Label("Geboortedatum: " + Model.VogConfirmation.ToString())
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("KeurAccount", "AlterEnabled", new { Id = Model.AccountId })
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                @Html.ActionLink("Bekijk Recensies", "AdminReview", new { Id = Model.AccountId })
            </div>
        </div>
    </div>
}

