@using Participation_ASP.Models
@model List<Review>

@{
    ViewBag.Title = "AdminReview";
}

<h2>AdminReviews</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <h5>Reviews:</h5>
            @if (Model.Count != 0)
            {
                foreach (Review r in Model)
                {
                    <ul>
                        <li>@Html.ActionLink("Reviewer: " + r.Request.Patient.Name, "AdminProfile", new { id = r.Request.Patient.AccountId })</li>
                        <li>@Html.Label("Aantal punten: " + r.Rating)</li>
                        <li>@Html.Label("Beschrijving: " + r.Comment)</li>
                    </ul>

                    @Html.ActionLink("Verwijder Review", "DeleteReview", new { Id = r.ReviewId })
                }
            }
            else
            {
                @Html.Label("Deze vrijwilliger heeft (nog) geen reviews")
            }
        </div>
    </div>
}

