@using Participation_ASP.Models
@model Participation_ASP.Models.IAccount
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model is Volunteer)
{
    <h2>Kennismakinggesprekken goedkeuren.</h2>
    {
        ViewModel viewModel = new ViewModel();
        Volunteer volunteer = Model as Volunteer;

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Locatie</th>
                <th>Datum</th>
                <th>Geaccepteerd</th>
            </tr>
            </thead>
            <tbody>
                @foreach (Meeting meeting in viewModel.MeetingList)
                {
                    if (meeting.Volunteer.AccountId == volunteer.AccountId)
                    {
                        string status = "Nee";
                        if (meeting.Status)
                        {
                            status = "Ja";
                        }
                        <tr>
                            <td>@meeting.Patient.Name</td>
                            <td>@meeting.Location</td>
                            <td>@meeting.Date.Day-@meeting.Date.Month-@meeting.Date.Year</td>
                            <td>@status</td>
                            @if (!meeting.Status)
                            {
                                <td><input type="button" class="btn btn-succes" name="Accept" value="Accepteren"/ <input type="button" value="Some text" onclick="@("window.location.href='" + @Url.Action(meeting.Volunteer.AccountId.ToString() + "-" + meeting.Patient.AccountId, "Meeting/AcceptMeeting") + "'");"></td>
                            }
                            else
                            {
                                <td><input type="button" class="btn btn-succes disabled" name="Accept" value="Accepteren" /></td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
@if (Model is Patient)
{
    <h2>Kennismakingsgesprekken plannen.</h2>
    {
        ViewModel viewModel = new ViewModel();
        using (Html.BeginForm("PlanMeeting", "Meeting"))
        {
            <p>Kies een vrijwilliger:</p>
            <select id="volunteer" class="form-control" size="1" name="volunteer">
                
                @foreach (IAccount account in viewModel.AccountList)
                {
                    if (account is Volunteer)
                    {
                        Volunteer volunteer = account as Volunteer;
                        <option value="@volunteer.Email">@volunteer.Name</option>
                    }
                }
            </select>
            <div class="control-group">
                <br/>
                <p>Datum:</p>
                <div class="controls">
                    <input type="date" id="date" name="date" class="input-xlarge">
                </div>
                <br/>
                <p>Locatie:</p>
                <input type="text" name="location" id="location" class="form-control" id="inputDefault"/>
                <br/>
                <input type="submit" value="Plannen" class="btn btn-success"/>
            </div>
        }

    }
}

